<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a new bike</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div>
        <form action="" method = "POST">
            <b>Model</b>
            <input type="text" name = "model" placeholder="e.g. Honda">
            <b>Daily fee (VND)</b>
            <input type="text" name="daily_fee" placeholder="1000000">
            <b>Image</b>
            <input type="text" name="image" placeholder="e.g https://hondaxemay.com.vn/cong-nghe-HYBRID/library-detail.html?id=1">
            <b>Year</b>
            <input type="text" name= "year" placeholder="e.g. 2013">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>