<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Information</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <form action="" method = "POST">
        Fisrt name:
            <input name="First name" placeholder="First name" type="text">
        Last name:
            <input name="Last name" placeholder="Last name" type="text">
        Email:
            <input name="Email" placeholder="Email" type="text">
        Yob:
            <input name="Yob" placeholder="Year of Birth" type="text">
        Gender
            <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other
        City:
            <input name="City" placeholder="City" type="text">
            <button>Submit</button>
    </form>
</body>
</html>