<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="root">
        <form class = "container_center"action="" method="POST">
            <input type="text" name = "question" id="input_question" placeholder="Question">
        <div id = "choice_wrapper">
            <input class="input_choice" name="option1" placeholder="Option1" type="text">
            <input class="input_choice" name="option2" placeholder="Option2" type="text">
            <input class="input_choice" name="option3" placeholder="Option3" type="text">
            <input class="input_choice" name="option4" placeholder="Option4" type="text">
            <input class="input_choice" name="option5" placeholder="Option5" type="text">
        </div>
        <button id = "btn_submit_poll">Submit Poll</button>
        </form>    
    </div>
</body>
</html>